/* Application Wide Styles */

html {
  height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    /* some font family would go here too */
  }

  body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
  }

  h1 {
    width: 100%;
    text-align: center;
  }

  main {
    display: flex;
    flex-direction: column;
  }