#charitySearchBar {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#charitySearchBar * {
    margin: 10px;
}

main input, main button {
    background-color: #C4C4C4;
    border: none;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    width: 70%;
    max-width: 300px;
}

select {
    border-radius: 15px;
}

#charityList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (min-width: 1200px) {
    #charitySearchBar {
      flex-direction: row;
    }
  }