main {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#insertEventForm {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  width: 60%;
  gap: 10px;
}

.criteriaContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#amountContainer {
  border: solid black 1px;
}

.inputContainer {
  width: 200px;
}

#amountDonated {
  border: none;
}

#amountDonated:focus {
  outline-width: 0px;
}

#dollarSign {
  margin-left: 5px;
}

#donationConfetti {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

/* form css */
input[type="text"],
select {
  width: 100%;
  padding: 10px 15px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
