h1 {
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
}

#banner {
    position: relative;
    top: -20px;
}

#loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginSignUpButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.loginSignUpButtons button, .loginSignUpButtons form input {
    width: 100px;
}

main input, main button {
    background-color: #C4C4C4;
    border: none;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    width: 70%;
    max-width: 300px;
}