<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <script defer src="js/contact.js"></script>
    <script defer src="js/banner.js"></script>

    <link rel="stylesheet" href="css/template/template.css">
    <link rel="stylesheet" href="css/template/banner.css">
    <link rel="stylesheet" href="css/template/header.css">
    <link rel="stylesheet" href="css/template/footer.css">
    <link rel="stylesheet" href="css/contact.css">
</head>

<body>
    <header id="header">
        <%- include("./template/header") %>
    </header>
    <div id="banner">
        <%- include("./template/banner") %>
    </div>
<<<<<<< Updated upstream
    <main>
        <form action="">
            <input type="text" name="nameField" id="" placeholder="Your Name">
            <textarea name="message" id="messageField" cols="30" rows="10" placeholder="Your Message"></textarea>
            <input type="submit" name="submit" id="">
        </form>
    </main>
    <footer id="footer">
=======

    <main>
        <h1>Contact Us</h1>
        <div class="formContainer">
            <div class="fieldContainer">
                <label for="fname">First Name</label>
                <input type="text" id="fname" name="firstname" placeholder="Enter your first name">
            </div>
    
            <div class="fieldContainer">
                <label for="lname">Last Name</label>
                <input type="text" id="lname" name="lastname" placeholder="Enter your last name">
            </div>
    
            <div class="fieldContainer">
                <label for="email">Email</label>
                <input type="text" id="email" name="email" placeholder="Enter your email">
            </div>
    
            <div class="fieldContainer">
                <label for="pnumber">Phone Number</label>
                <input type="text" id="pnumber" name="pnumber" placeholder="Enter your phone number">
            </div>
    
            <div class="fieldContainer">
                <label for="subject">Subject</label>
                <input type="text" id="subject" name="subject" placeholder="Tell us your subject">
            </div>
    
            <div class="fieldContainer">
                <label for="message">Your Message</label>
                <textarea id="message" name="message" placeholder="Write your thoughts here" style="height:200px"></textarea>
            </div>
    
            <div class="fieldContainer">
                <input id="submitButton" type="submit" value="Submit">
            </div>
            
            </form>
        </div>
    </main>

    <footer>
>>>>>>> Stashed changes
        <%- include("./template/footer") %>
    </footer>
</body>

</html>