<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <script defer src="js/contact.js"></script>

    <link rel="stylesheet" href="css/template/template.css">
    <link rel="stylesheet" href="css/template/banner.css">
    <link rel="stylesheet" href="css/template/header.css">
    <link rel="stylesheet" href="css/template/footer.css">
    <link rel="stylesheet" href="css/contact.css">
</head>

<body>
    <h1>Contact Us</h1>
    <div class="container">
        <label for="fname">First Name</label>
        <input type="text" id="fname" name="firstname" placeholder="Enter your first name">

        <label for="lname">Last Name</label>
        <input type="text" id="lname" name="lastname" placeholder="Enter your last name">

        <label for="email">Email</label>
        <input type="text" id="email" name="email" placeholder="Enter your email">

        <label for="pnumber">Phone Number</label>
        <input type="text" id="pnumber" name="pnumber" placeholder="Enter your phone number">

        <label for="subject">Subject</label>
        <input type="text" id="subject" name="subject" placeholder="Tell us your subject">

        <label for="message">Your Message</label>
        <textarea id="message" name="message" placeholder="Write your thoughts here" style="height:200px"></textarea>

        <input type="submit" value="Submit">
        </form>
    </div>
</body>

</html>