<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donation History</title>
    <script defer src="\js/banner.js"></script>
    <script defer src="js/header.js"></script>
    <link rel="stylesheet" href="css/template/template.css">
    <link rel="stylesheet" href="css/template/banner.css">
    <link rel="stylesheet" href="css/template/header.css">
    <link rel="stylesheet" href="css/template/footer.css">
    <link rel="stylesheet" href="css/donation.css">
</head>

<body>
    <header id="header">
        <%- include("./template/header") %>
    </header>
    <div id="banner">
        <%- include("./template/banner") %>
    </div>
    <h1>Donation History</h1>
    <main>
        <!-- <div class="search_container">
            <input type="text" placeholder="Search by Charity Name">
            <button><img src="\..\images\search_icon.png" alt="Search"></button>
        </div> -->
    </main>
    <footer id="footer">
        <%- include("./template/footer") %>
    </footer>
</body>
</html>