<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donation History</title>
    <script defer src="\js/banner.js"></script>
    <script defer src="js/header.js"></script>
    <link rel="stylesheet" href="css/template/template.css">
    <link rel="stylesheet" href="css/template/banner.css">
    <link rel="stylesheet" href="css/template/header.css">
    <link rel="stylesheet" href="css/template/footer.css">
    <link rel="stylesheet" href="css/donation.css">
</head>

<body>
    <canvas id="donationConfetti"></canvas>
    <header id="header">
        <%- include("./template/header") %>
    </header>
    <div id="banner">
        <%- include("./template/banner") %>
    </div>
    <h1>Donation History</h1>
    <form action="/insert" method="post" id="insertEventForm">
        <h2>Create a New Donation Event</h2>

        <div class="container">
            <form action="/action_page.php">
                <div class="row">
                    <div class="col-25">
                        <label for="fname">First Name</label>
                    </div>
                    <div class="col-75">
                        <input type="text" id="fname" name="firstname" placeholder="Your name..">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="lname">Last Name</label>
                    </div>
                    <div class="col-75">
                        <input type="text" id="lname" name="lastname" placeholder="Your last name..">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="country">Country</label>
                    </div>
                    <div class="col-75">
                        <select id="country" name="country">
                            <option value="australia">Australia</option>
                            <option value="canada">Canada</option>
                            <option value="usa">USA</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="subject">Subject</label>
                    </div>
                    <div class="col-75">
                        <textarea id="subject" name="subject" placeholder="Write something.."
                            style="height:200px"></textarea>
                    </div>
                </div>
                <br>
                <div class="row">
                    <input type="submit" value="Submit">
                </div>
            </form>
        </div>















        <div class="criteriaContainer">
            <label for="charityName">Charity Name:</label>
            <div class="inputContainer">
                <input type="text" name="charityName" id="charityName" placeholder="Enter Charity's Name" required>
            </div>
        </div>
        <div class="criteriaContainer">
            <label for="dateDonated">Date Donated:</label>
            <div class="inputContainer">
                <input type="date" name="dateDonated" id="dateDonated" required>
            </div>
        </div>
        <div class="criteriaContainer">
            <label for="amountDonated">Amount Donated:</label>
            <div class="inputContainer" id="amountContainer">
                <span id="dollarSign">$</span>
                <input type="number" name="amountDonated" id="amountDonated" placeholder="0.00" min="0.05" step="0.01"
                    required>
            </div>
        </div>
        <div class="criteriaContainer">
            <label for="submitButton"></label>
            <input type="submit" id="submitButton">
        </div>
    </form>
    <main>

    </main>
    <footer id="footer">
        <%- include("./template/footer") %>
    </footer>
</body>

</html>