<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conflict Tracker</title>

    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script defer src="js/index.js"></script>
    <script defer src="js/banner.js"></script>
    <script src="https://atlas.microsoft.com/sdk/javascript/mapcontrol/2/atlas.min.js"></script>
    
    <!-- LOAD Stylesheets -->
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/template/template.css">
    <link rel="stylesheet" href="css/template/banner.css">
    <link rel="stylesheet" href="css/template/header.css">
    <link rel="stylesheet" href="css/template/footer.css">
    <link rel="stylesheet" href="https://atlas.microsoft.com/sdk/javascript/mapcontrol/2/atlas.min.css" type="text/css">

</head>

<body onload="InitMap()">
    <header id="header">
        <%- include("./template/header") %>
    </header>
    <div id="banner">
        <%- include("./template/banner") %>
    </div>
    <div id="myMap"></div>
    <main>
        
        <h2>Section Heading</h2>
        <article>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam recusandae, optio amet ex aut aperiam.
            Incidunt fugit architecto accusamus perspiciatis eligendi consectetur obcaecati vel nam earum nulla maiores,
            nisi praesentium. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores eveniet corrupti
            eaque similique id dignissimos reprehenderit nobis nemo repellat at perferendis doloremque numquam, ratione
            sapiente ipsam animi voluptas ea sit?
        </article>
        <br>
        <h2>Section Heading</h2>
        <article>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi, aut? Corporis laudantium suscipit fugit
            eos consectetur iste debitis nisi modi libero dicta. A reiciendis iusto labore architecto dolorum, et dolor?
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae et accusantium excepturi amet provident
            quisquam corrupti, expedita quidem magni eius placeat voluptatem dolorum, reprehenderit minus, sit
            dignissimos sapiente aliquam repudiandae?
        </article>
        <br>
        <h2>Section Heading</h2>
        <article>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi, aut? Corporis laudantium suscipit fugit
            eos consectetur iste debitis nisi modi libero dicta. A reiciendis iusto labore architecto dolorum, et dolor?
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae et accusantium excepturi amet provident
            quisquam corrupti, expedita quidem magni eius placeat voluptatem dolorum, reprehenderit minus, sit
            dignissimos sapiente aliquam repudiandae?
        </article>
        <br>
        <h2>Section Heading</h2>
        <article>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi, aut? Corporis laudantium suscipit fugit
            eos consectetur iste debitis nisi modi libero dicta. A reiciendis iusto labore architecto dolorum, et dolor?
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae et accusantium excepturi amet provident
            quisquam corrupti, expedita quidem magni eius placeat voluptatem dolorum, reprehenderit minus, sit
            dignissimos sapiente aliquam repudiandae?
        </article>
        <br>
        <h2>Section Heading</h2>
        <article>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi, aut? Corporis laudantium suscipit fugit
            eos consectetur iste debitis nisi modi libero dicta. A reiciendis iusto labore architecto dolorum, et dolor?
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae et accusantium excepturi amet provident
            quisquam corrupti, expedita quidem magni eius placeat voluptatem dolorum, reprehenderit minus, sit
            dignissimos sapiente aliquam repudiandae?
        </article>
        <br>
    </main>

    <footer id="footer">
        <%- include("./template/footer") %>
    </footer>

</body>

</html>