<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script defer src="\js/banner.js"></script>
    <script defer src="js/header.js"></script>

    <link rel="stylesheet" href="css/template/banner.css">
    <link rel="stylesheet" href="css/template/header.css">
    <link rel="stylesheet" href="css/template/footer.css">
    <link rel="stylesheet" href="css/template/template.css">
    <link rel="stylesheet" href="css/news.css">
</head>

<body>
    <header id="header">
        <%- include("./template/header") %>
    </header>

    <div id="banner">
        <%- include("./template/banner") %>
    </div>

    <main>
        <!-- <button>Back to Main Page</button>
        <br> -->
        <h1>Conflict in Ukraine</h1>
        <br>
        <img class="area_pic"
            src="https://cdn.vox-cdn.com/thumbor/DQFm2GNhKD2m6MFj9JHgIniUOEI=/1400x788/filters:format(jpeg)/cdn.vox-cdn.com/uploads/chorus_asset/file/23278679/GettyImages_1238768051.jpg"
            alt="">
        <hr>
        <br>
        <div class="background">
            <br>
            <h2>Backgound</h2>
            <br>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, incidunt nam voluptate dolor maiores
                quam
                ratione tenetur in suscipit ipsam facere eligendi laborum. Ducimus ratione reiciendis exercitationem
                architecto accusantium voluptatem rem minus impedit dolorem debitis! Vero esse nihil quisquam
                consequuntur
                eos perspiciatis, quaerat autem porro quas officia optio, ex doloribus culpa quibusdam cumque quasi nemo
                libero sed nostrum! Enim, voluptate vel. Minima, a laboriosam pariatur officia fugit, dolorum voluptas
                obcaecati consequuntur molestias quia officiis deleniti itaque? Exercitationem, eveniet. Soluta incidunt
                consequuntur ipsam inventore eveniet nulla harum repellendus laboriosam tenetur quas. Labore accusantium
                repellendus quam saepe debitis harum, perferendis praesentium sed.
            </p>
            <br>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi quae odio animi. Nihil necessitatibus
                voluptatem aliquam ea molestias tenetur, repellat delectus, modi nesciunt eaque pariatur quas nemo sed?
                Amet, enim?
            </p>
        </div>
        <br>
        <form action="/saveArticle">
            <input type="submit">
        </form>
        <br>
        <h3>Related News</h3>
        <br>
        <div class="relatedNewsContainer">
            <div class="news_cards">
                <div class="container">
                    <h4><a href="https://www.nytimes.com/news-event/ukraine-russia"><b>Russia-Ukraine War</b></a></h4>
                    <p><i>News York Times</i></p>
                    <p>March 2022</p>
                </div>
            </div>
            <div class="news_cards">
                <div class="container">
                    <h4><a href="https://www.cfr.org/report/preventing-wider-european-conflict"><b>Preventing a Wider
                                European Conflict</b></a></h4>
                    <p><i>Center for Preventive
                            Action</i></p>
                    <p>March 08 2022</p>
                </div>
            </div>
            <div class="news_cards">
                <div class="container">
                    <h4><a href="https://www.nytimes.com/interactive/2022/world/europe/ukraine-maps.html"><b>Maps:
                                Tracking the Russian Invasion of Ukraine</b></a></h4>
                    <p><i>News York
                            Times</i></a></p>
                    <p>March 2022</p>
                </div>
            </div>
            <div class="news_cards">
                <div class="container">
                    <h4><a href="https://www.nytimes.com/article/russia-ukraine-nato-europe.html"><b>The Roots of the
                                Ukraine War: How the Crisis Developed</b></a></h4>
                    <p><i>News York
                            Times</i></a></p>
                    <p>March 2 2022</p>
                </div>
            </div>
            <div class="news_cards">
                <div class="container">
                    <h4><a href="https://www.washingtonpost.com/world/2021/12/07/russia-ukraine-biden-putin-call/"><b>Russia
                                is at war with Ukraine. Here is the background you need to know.</b></a></h4>
                    <p><i>The
                            Washington Post</i></a></p>
                    <p>February 28 2022</p>
                </div>
            </div>
            <div class="news_cards">
                <div class="container">
                    <h4><a
                            href="https://www.whitehouse.gov/briefing-room/speeches-remarks/2022/02/24/remarks-by-president-biden-on-russias-unprovoked-and-unjustified-attack-on-ukraine/"><b>Remarks
                                by President Biden on Russia Unprovoked and Unjustified Attack on
                                Ukraine</b></a></h4>
                    <p><i>The
                            White House</i></a></p>
                    <p>February 24 2022</p>
                </div>
            </div>
        </div>
        </div>
    </main>

    <footer id="footer">
        <%- include("./template/footer") %>
    </footer>
</body>

</html>