<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Register</title>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script defer src="./js/banner.js"></script>
        <script defer src="./js/registration.js"></script>
        <script defer src="js/header.js"></script>

        <link rel="stylesheet" href="css/template/template.css">
        <link rel="stylesheet" href="css/template/header.css">
        <link rel="stylesheet" href="css/template/footer.css">
        <link rel="stylesheet" href="css/template/banner.css">
        <link rel="stylesheet" href="css/registration.css">
    </head>
    <body>
        <header id="header">
            <%- include("./template/header") %>
        </header>
        <main>
            <div class="formContainer">
                <h1 class="loginTitle">Register</h1>

                <form id="registerForm" action="/create_user" method="POST">
                    <label for="emailRegister"><b>Email</b></label>
                    <input type="email" name="email" id="emailRegister" placeholder="enter email" required>
                    <label for="passwordRegister"><b>Password</b></label>
                    <input type="password" name="password" id="passwordRegister" placeholder="enter password" required>
                    <button type="submit" id="registerButton" class="styledButton">Register</button>
                </form>
            </div>

        </main>
        <footer id="footer">
            <%- include("./template/footer") %>
        </footer>
    </body>
</html>