<!--    Display a slideshow container
        I found this code on https://www.w3schools.com/
        @author contribute@w3schools.com
        @see https://www.w3schools.com/howto/howto_js_slideshow.asp -->

<p>Donate Now</p>
<br>
<div class="slideshow-container">

    <a href="https://www.doctorswithoutborders.ca/" class="mySlides fade">
      <div class="numbertext">1 / 3</div>
      <img src="\..\images/banner1.png" style="width:100%">
    </a>
    
    <a href="https://www.redcross.ca/" class="mySlides fade">
      <div class="numbertext">2 / 3</div>
      <img src="\..\images/bannr2.jpg" style="width:100%">
    </a>
    
    <a href="https://www.care-international.org/" class="mySlides fade">
      <div class="numbertext">3 / 3</div>
      <img src="\..\images/banner3.png" style="width:100%">
    </a>
    
    <a class="prev" onclick="plusSlides(-1)">❮</a>
    <a class="next" onclick="plusSlides(1)">❯</a>
    
</div>
<br>

<div style="text-align:center">
    <span class="dot active" onclick="currentSlide(1)"></span> 
    <span class="dot" onclick="currentSlide(2)"></span> 
    <span class="dot" onclick="currentSlide(3)"></span> 
</div>    