<nav>
    <a href="/">
        <img id="logo" src="\..\images/CT.png" alt="Conflict Tracker" >
    </a>
    <div class="search_container">
        <input type="text">
        <button><img src="\..\images\search_icon.png" alt="Search"></button>
    </div>
    
    <button class="menu" onclick="toggleDropdown();"><img src="\..\images/menu.png" alt="Menu"></button>
</nav>
<div id="dropdownMenu">
    <button class="menu" onclick="toggleDropdown();"><img src="\..\images/borderlessMenu.png" alt="Menu"></button>

    <div id="buttonContainer">
        <form action="/" method="" id="homeButton">
            <label for="home">Home</label>
            <input id="home" type="submit" value="" name="home">
        </form>

        <form action="/charities" method="get" id="charitiesButton">
            <label for="charities">Charities</label>
            <input id="charities" type="submit" value="" name="charities">
        </form>

        <% if (session) { %>
            <form action="/profile" method="get" id="profileButton">
                <label for="profile">Profile</label>
                <input id="profile" type="submit" value="" name="profile">
            </form>

            <form action="/donation" method="get" id="donationButton">
                <label for="donation">Donation Log</label>
                <input id="donation" type="submit" value="" name="donation">
            </form>

            <form action="/" method="post" id="logOutButton">
                <label for="logout">Log Out</label>
                <input id="logout" type="submit" value="" name="logOut">
            </form>
        <% } else {%>
            <form action="/login" method="get" id="logInButton">
                <label for="login">Log In</label>
                <input id="login" type="submit" value="" name="log in">
            </form>

            <form action="/signup" method="get" id="signUpButton">
                <label for="signup">Sign Up</label>
                <input id="signup" type="submit" value="" name="signUp">
            </form>
        <% } %>
    </div>
</div>