<nav>
    <img id="logo" src="\..\images/CT.png" alt="Conflict Tracker" >
    <div class="search_container">
        <input type="text">
        <button><img src="\..\images\search_icon.png" alt="Search"></button>
    </div>
    
    <button class="menu" onclick="toggleDropdown();"><img src="\..\images/menu.png" alt="Menu"></button>
</nav>
<div id="dropdownMenu">
    <button class="menu" onclick="toggleDropdown();"><img src="\..\images/borderlessMenu.png" alt="Menu"></button>

    <div id="buttonContainer">
        <form action="/" method="" id="homeButton">
            <input type="submit" value="Home" name="home">
        </form>

        <form action="/" method="" id="newsButton">
            <input type="submit" value="News" name="news">
        </form>

        <form action="" method="" id="charitiesButton">
            <input type="submit" value="Charities" name="charities">
        </form>

        <% if (session) { %>
            <form action="/" method="post" id="logOutButton">
                <input type="submit" value="Log Out" name="logOut">
            </form>

            <form action="" method="" id="profileButton">
                <input type="submit" value="Profile" name="profile">
            </form>
        <% } else {%>
            <form action="/" method="" id="logInButton">
                <input type="submit" value="Log In" name="log in">
            </form>

            <form action="/" method="" id="signUpButton">
                <input type="submit" value="Sign Up" name="signUp">
            </form>
        <% } %>
    </div>
</div>